.slidev-layout {
    ul {
        margin-top: 20px;
        li {
            margin-top: 10px;
        }
    }
    
    .slow-fade-enter-active,
    .slow-fade-leave-active {
        transition: opacity 8s ease;
    }
    
    .slow-fade-enter-from,
    .slow-fade-leave-to {
        opacity: 0;
    }
}

li.slidev-vclick-target {
  transition: opacity 0.5s ease, transform 0.5s ease;
}
li.slidev-vclick-hidden {
  transform: translateX(-30px);
}
